.root {
    padding: 20px;
    .navigator {
        border: 1px solid #eeeeee;
        padding: 20px;
        border-radius: 4px;
        ul {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: 10px;
            justify-content: space-between;
            align-content: center;
            li {
                justify-self: center;
                align-self: center;
                list-style: none;
                display: block;
                border: 1px solid #eeeeee;
                padding: 10px 20px;
                border-radius: 5px; 
                background: #ffffff;
                color: #000000;
                a {
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                }
            }
            li.active {
                box-shadow: 0 0 5px 5px #cccccc;
            }
        }
    }
    .content {
        border: 1px solid #eeeeee;
        padding: 20px;
        margin: 20px 0;
    }
}