@font-face {
    font-family: 'Gotham-Black';
    src: url('../font/Gotham/Gotham-Black.otf');
}

.root {
    padding: 10px;
    font-family: Gotham-Black;
    .navigator {
        border: 1px solid #eeeeee;
        padding: 10px;
        border-radius: 4px;
        ul {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            li {
                list-style: none;
                padding: 0;
                border: 1px solid #eeeeee;
                border-radius: 2px;
                margin-right: 20px;
                position: relative;
                width: 100px;
                height: 40px;
                line-height: 40px;
                a {
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    right: 0;
                }
            }
            li.active {
                box-shadow: 0 0 5px 5px #cccccc;
            }
        }
    }
    .content {
        border-radius: 4px;
        position: relative;
        border: 1px solid #eeeeee;
        padding: 20px;
        margin: 20px 0;
    }
}