.common-input {
    border: 1px solid #cccccc;
    outline: none;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}