@font-face {
  font-family: 'icomoon';
  src:  url('~src/icons/fonts/icomoon.eot?e8i7em');
  src:  url('~src/icons/fonts/icomoon.eot?e8i7em#iefix') format('embedded-opentype'),
    url('~src/icons/fonts/icomoon.ttf?e8i7em') format('truetype'),
    url('~src/icons/fonts/icomoon.woff?e8i7em') format('woff'),
    url('~src/icons/fonts/icomoon.svg?e8i7em#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\a000";
}
.icon-lc_green_icon_1:before {
  content: "\a001";
}
.icon-lc_orange_icon_1:before {
  content: "\a002";
}
.icon-biaojiyiyue:before {
  content: "\a003";
}
.icon-close2:before {
  content: "\a004";
}
.icon-search2:before {
  content: "\a005"!important;
}
.icon-shaixuan:before {
  content: "\a006";
}
.icon-close3:before {
  content: "\a007";
}
.icon-baobiao:before {
  content: "\a008";
}
.icon-biaodan:before {
  content: "\a009";
}
.icon-changyong:before {
  content: "\a00a";
}
.icon-faqishenpi:before {
  content: "\a00b";
}
.icon-jia:before {
  content: "\a00c";
}
.icon-jian:before {
  content: "\a00d";
}
.icon-saoyisao:before {
  content: "\a00e";
}
.icon-search3:before {
  content: "\a00f";
}
.icon-shezhi:before {
  content: "\a010";
}
.icon-shouye_1:before {
  content: "\a011";
  color: #6f6f6f;
}
.icon-shouye:before {
  content: "\a012";
  color: #6f6f6f;
}
.icon-sousuo:before {
  content: "\a013";
}
.icon-tixingshezhi:before {
  content: "\a014";
}
.icon-wode_1:before {
  content: "\a015";
  color: #6f6f6f;
}
.icon-wode:before {
  content: "\a016";
  color: #6f6f6f;
}
.icon-daiban_1:before {
  content: "\a017";
  color: #6f6f6f;
}
.icon-daiban:before {
  content: "\a018";
  color: #6f6f6f;
}
.icon-yingyong_1:before {
  content: "\a019";
  color: #6f6f6f;
}
.icon-yingyong:before {
  content: "\a01a";
  color: #6f6f6f;
}
.icon-zhuizhong:before {
  content: "\a01b";
}
.icon-add2:before {
  content: "\a01c";
}
.icon-anniu1:before {
  content: "\a01d";
}
.icon-anniu2:before {
  content: "\a01e";
}
.icon-anniu3:before {
  content: "\a01f";
}
.icon-dianhua:before {
  content: "\a020";
}
.icon-dongtai:before {
  content: "\a021";
}
.icon-get:before {
  content: "\a022";
}
.icon-mistake:before {
  content: "\a023"!important;
}
.icon-next2:before {
  content: "\a024";
}
.icon-normal:before {
  content: "\a025";
  color: #fff;
}
.icon-Path:before {
  content: "\a026";
}
.icon-picture:before {
  content: "\a027";
}
.icon-renwutix:before {
  content: "\a028";
}
.icon-shanchu:before {
  content: "\a029";
}
.icon-Shape:before {
  content: "\a02a";
}
.icon-tixing:before {
  content: "\a02b";
}
.icon-xinxi:before {
  content: "\a02c";
}
.icon-yixuanzhe:before {
  content: "\a02d";
}
.icon-youjian:before {
  content: "\a02e";
}
.icon-zhuanfa:before {
  content: "\a02f";
}
.icon-other:before {
  content: "\a030";
}
.icon-question:before {
  content: "\a031";
}
.icon-service:before {
  content: "\a032";
}
.icon-add_2:before {
  content: "\a033";
}
.icon-add3:before {
  content: "\a034";
}
.icon-chakan:before {
  content: "\a035";
}
.icon-danxuanxuanzhe:before {
  content: "\a036";
}
.icon-dizhi:before {
  content: "\a037";
}
.icon-Fill-1:before {
  content: "\a038";
}
.icon-fuzhi:before {
  content: "\a039";
}
.icon-next3:before {
  content: "\a03a";
}
.icon-pic:before {
  content: "\a03b";
}
.icon-question2:before {
  content: "\a03c";
}
.icon-saoyisao2:before {
  content: "\a03d";
}
.icon-shanchu2:before {
  content: "\a03e";
}
.icon-tishi:before {
  content: "\a03f";
}
.icon-user2:before {
  content: "\a040";
}
.icon-xiazai:before {
  content: "\a041";
}
.icon-fujian2:before {
  content: "\a042";
}
.icon-lc_end_icon:before {
  content: "\a043";
}
.icon-lc_green_icon:before {
  content: "\a044";
}
.icon-lc_orange_icon:before {
  content: "\a045";
}
.icon-lc_round_icon:before {
  content: "\a046";
}
.icon-lc_star_icon:before {
  content: "\a047";
}
.icon-next4:before {
  content: "\a048";
}
.icon-tupian:before {
  content: "\a049";
}
.icon-telephone:before {
  content: "\a04a";
}
.icon-scan:before {
  content: "\a04b";
}
.icon-cgfk:before {
  content: "\a04c";
}
.icon-cgrk:before {
  content: "\a04d";
}
.icon-cgsh:before {
  content: "\a04e";
}
.icon-cgsq:before {
  content: "\a04f";
}
.icon-dbtj:before {
  content: "\a050";
}
.icon-dndb:before {
  content: "\a051";
}
.icon-entry:before {
  content: "\a052";
}
.icon-Financial_012:before {
  content: "\a053";
}
.icon-Financial_018:before {
  content: "\a054";
}
.icon-Financial_020:before {
  content: "\a055";
}
.icon-Financial_021:before {
  content: "\a056";
}
.icon-Financial_022:before {
  content: "\a057";
}
.icon-Financial_024:before {
  content: "\a058";
}
.icon-Financial_025:before {
  content: "\a059";
}
.icon-Financial_026:before {
  content: "\a05a";
}
.icon-Financial_027:before {
  content: "\a05b";
}
.icon-Financial_028:before {
  content: "\a05c";
}
.icon-Financial_029:before {
  content: "\a05d";
}
.icon-Financial_030:before {
  content: "\a05e";
}
.icon-Financial_031:before {
  content: "\a05f";
}
.icon-Financial_032:before {
  content: "\a060";
}
.icon-Financial_033:before {
  content: "\a061";
}
.icon-Financial_034:before {
  content: "\a062";
}
.icon-gys:before {
  content: "\a063";
}
.icon-gzd:before {
  content: "\a064";
}
.icon-hmc:before {
  content: "\a065";
}
.icon-hr_dynamic:before {
  content: "\a066";
}
.icon-hr_employee_profile:before {
  content: "\a067";
}
.icon-hr_entry:before {
  content: "\a068";
}
.icon-hr_leaving:before {
  content: "\a069";
}
.icon-hr_payroll:before {
  content: "\a06a";
}
.icon-hr_positive:before {
  content: "\a06b";
}
.icon-hr_raise:before {
  content: "\a06c";
}
.icon-hr_remind:before {
  content: "\a06d";
}
.icon-hr_statistics:before {
  content: "\a06e";
}
.icon-hr_transfer_position:before {
  content: "\a06f";
}
.icon-humanresource:before {
  content: "\a070";
}
.icon-inspection:before {
  content: "\a071";
}
.icon-jskccx:before {
  content: "\a072";
}
.icon-kccx:before {
  content: "\a073";
}
.icon-kctj:before {
  content: "\a074";
}
.icon-leave:before {
  content: "\a075";
}
.icon-lyck:before {
  content: "\a076";
}
.icon-lz:before {
  content: "\a077";
}
.icon-mbsz:before {
  content: "\a078";
}
.icon-mdck:before {
  content: "\a079";
}
.icon-mdkccsh:before {
  content: "\a07a";
}
.icon-mdxx:before {
  content: "\a07b";
}
.icon-pdtj:before {
  content: "\a07c";
}
.icon-Personnel_001:before {
  content: "\a07d";
}
.icon-Personnel_002:before {
  content: "\a07e";
}
.icon-Personnel_003:before {
  content: "\a07f";
}
.icon-Personnel_005:before {
  content: "\a080";
}
.icon-Personnel_006:before {
  content: "\a081";
}
.icon-Personnel_008:before {
  content: "\a082";
}
.icon-Personnel_009:before {
  content: "\a083";
}
.icon-Personnel_012:before {
  content: "\a084";
}
.icon-Personnel_014:before {
  content: "\a085";
}
.icon-Personnel_015:before {
  content: "\a086";
}
.icon-Personnel_016:before {
  content: "\a087";
}
.icon-Personnel_017:before {
  content: "\a088";
}
.icon-Personnel_018:before {
  content: "\a089";
}
.icon-Personnel_019:before {
  content: "\a08a";
}
.icon-Personnel_020:before {
  content: "\a08b";
}
.icon-Personnel_021:before {
  content: "\a08c";
}
.icon-Personnel_022:before {
  content: "\a08d";
}
.icon-Personnel_023:before {
  content: "\a08e";
}
.icon-Personnel_024:before {
  content: "\a08f";
}
.icon-pfcx:before {
  content: "\a090";
}
.icon-pftj:before {
  content: "\a091";
}
.icon-pqck:before {
  content: "\a092";
}
.icon-rctx:before {
  content: "\a093";
}
.icon-remaind:before {
  content: "\a094";
}
.icon-rktj:before {
  content: "\a095";
}
.icon-roster:before {
  content: "\a096";
}
.icon-rz:before {
  content: "\a097";
}
.icon-Sales_001:before {
  content: "\a098";
}
.icon-Sales_008:before {
  content: "\a099";
}
.icon-Sales_009:before {
  content: "\a09a";
}
.icon-Sales_010:before {
  content: "\a09b";
}
.icon-Sales_011:before {
  content: "\a09c";
}
.icon-Sales_012:before {
  content: "\a09d";
}
.icon-Sales_013:before {
  content: "\a09e";
}
.icon-Sales_014:before {
  content: "\a09f";
}
.icon-Sales_015:before {
  content: "\a0a0";
}
.icon-Sales_017:before {
  content: "\a0a1";
}
.icon-Sales_018:before {
  content: "\a0a2";
}
.icon-Sales_019:before {
  content: "\a0a3";
}
.icon-Sales_020:before {
  content: "\a0a4";
}
.icon-Sales_021:before {
  content: "\a0a5";
}
.icon-Sales_022:before {
  content: "\a0a6";
}
.icon-Sales_023:before {
  content: "\a0a7";
}
.icon-Sales_024:before {
  content: "\a0a8";
}
.icon-score:before {
  content: "\a0a9";
}
.icon-shop_ins_template_set:before {
  content: "\a0aa";
}
.icon-shop_inspection_score_query:before {
  content: "\a0ab";
}
.icon-shop_inspection_statistics:before {
  content: "\a0ac";
}
.icon-shop_inspection_store:before {
  content: "\a0ad";
}
.icon-source:before {
  content: "\a0ae";
}
.icon-stock_analysis:before {
  content: "\a0af";
}
.icon-stock_clear_date:before {
  content: "\a0b0";
}
.icon-stock_flow:before {
  content: "\a0b1";
}
.icon-stock_initial-inventory:before {
  content: "\a0b2";
}
.icon-stock_inventory:before {
  content: "\a0b3";
}
.icon-stock_payment:before {
  content: "\a0b4";
}
.icon-stock_purchase:before {
  content: "\a0b5";
}
.icon-stock_raw_material:before {
  content: "\a0b6";
}
.icon-stock_statistics:before {
  content: "\a0b7";
}
.icon-stock_storage:before {
  content: "\a0b8";
}
.icon-stock_supplier:before {
  content: "\a0b9";
}
.icon-stock_transfer:before {
  content: "\a0ba";
}
.icon-stock_warehouse:before {
  content: "\a0bb";
}
.icon-storage:before {
  content: "\a0bc";
}
.icon-tg:before {
  content: "\a0bd";
}
.icon-tx:before {
  content: "\a0be";
}
.icon-wlxx:before {
  content: "\a0bf";
}
.icon-xdbg:before {
  content: "\a0c0";
}
.icon-xdpf:before {
  content: "\a0c1";
}
.icon-ygda:before {
  content: "\a0c2";
}
.icon-ygdt:before {
  content: "\a0c3";
}
.icon-ygtj:before {
  content: "\a0c4";
}
.icon-zz:before {
  content: "\a0c5";
}
.icon-reset:before {
  content: "\a0c6";
  color: #d8d8d8;
}
.icon-arrow-right:before {
  content: "\a0c7";
}
.icon-search:before {
  content: "\a0c8";
}
.icon-next:before {
  content: "\a0c9";
}
.icon-close:before {
  content: "\a0ca";
}
.icon-department:before {
  content: "\a0cb";
  color: #4b9aee;
}
.icon-filter:before {
  content: "\a0cc";
  color: #929292;
}
.icon-more:before {
  content: "\a0cd";
}
.icon-company:before {
  content: "\a0ce";
  color: #4b9aee;
}
.icon-remove:before {
  content: "\a0cf";
  color: #f07f77;
}
.icon-ok:before {
  content: "\a0d0";
  color: #7eb282;
}
.icon-add:before {
  content: "\a0d1";
}
.icon-save:before {
  content: "\a0d2";
  color: #4b9aee;
}
.icon-arrow-up-thin:before {
  content: "\a0d3";
}
.icon-arrow-down-thin:before {
  content: "\a0d4";
}
.icon-comment:before {
  content: "\a0d5";
}
.icon-checkmark:before {
  content: "\a0d6";
}
.icon-document:before {
  content: "\a0d7";
}
.icon-paper:before {
  content: "\a0d8";
}
.icon-back:before {
  content: "\a0d9";
}
.icon-nextpage:before {
  content: "\a0da";
}
.icon-import:before {
  content: "\a0db";
}
.icon-record:before {
  content: "\a0dc";
}
.icon-arrow-down:before {
  content: "\a0dd";
}
.icon-weixuanzhong:before {
  content: "\a0de";
  color: #cbcbcb;
}
.icon-xuanzhong:before {
  content: "\a0df";
  color: #38adff;
}
.icon-unchecked:before {
  content: "\a0e0";
  color: #ccc;
}
.icon-checked:before {
  content: "\a0e1";
  color: #37abfd;
}
.icon-location:before {
  content: "\a0e2";
}
.icon-jiesu:before {
  content: "\a0e3";
}
.icon-lc_end_icon2:before {
  content: "\a0e4";
}
.icon-lc_cc_icon:before {
  content: "\a0e5";
}
.icon-zhuanfa2:before {
  content: "\a0e6";
}
.icon-reject-full:before {
  content: "\a0e7";
}
.icon-reject-outline:before {
  content: "\a0e8";
}
.icon-lc-cancel:before {
  content: "\a0e9";
  color: #d9d9d9;
}
.icon-lc-reject:before {
  content: "\a0ea";
  color: #e64340;
}
.icon-lc-transfer:before {
  content: "\a0eb";
  color: #00ce98;
}
.icon-lc-submit:before {
  content: "\a0ec";
  color: #00ce98;
}
.icon-word:before {
  content: "\a0ed";
  color: #467db9;
}
.icon-pdf:before {
  content: "\a0ee";
  color: #467db9;
}
.icon-tupian2:before {
  content: "\a0ef";
  color: #467db9;
}
.icon-weizhi:before {
  content: "\a0f0";
  color: #467db9;
}
.icon-excel:before {
  content: "\a0f1";
  color: #467db9;
}
.icon-refresh:before {
  content: "\a0f2";
}
.icon-tip:before {
  content: "\a0f3";
}
.icon-selected:before {
  content: "\a0f4";
  color: #5685bb;
}
.icon-unselected:before {
  content: "\a0f5";
}
.icon-smile:before {
  content: "\a0f6";
  color: #c8c8c8;
}
.icon-wf-start:before {
  content: "\a0f7";
  color: #fff;
}
.icon-wf-end:before {
  content: "\a0f8";
  color: #77bcfa;
}
.icon-wf-fillsheet:before {
  content: "\a0f9";
  color: #fff;
}
.icon-wf-approve:before {
  content: "\a0fa";
  color: #77bcfa;
}
.icon-wf-circulate:before {
  content: "\a0fb";
  color: #77bcfa;
}
.icon-wf-connection:before {
  content: "\a0fc";
  color: #77bcfa;
}
.icon-wf-subinstance:before {
  content: "\a0fd";
  color: #77bcfa;
}
.icon-alert:before {
  content: "\a0fe";
  color: #fff;
}
.icon-success:before {
  content: "\a0ff";
  color: #fff;
}
.icon-fail:before {
  content: "\a100";
  color: #fff;
}
.icon-wujieguo:before {
  content: "\a101";
}
.icon-home:before {
  content: "\a102";
  color: #6f6f6f;
}
.icon-home-o:before {
  content: "\a103";
  color: #6f6f6f;
}
